<style type="text/css">
  .form-horizontal input.ng-invalid.ng-dirty {
    border-color: #FA787E;
  }
  .form-horizontal input.ng-valid.ng-dirty {
    border-color: #78FA89;
  }
</style>
<div class="view">
    <div class="container">
        <div class="row">
        <nav class= "navbar navbar-default" role= "navigation" >
        <div class= "navbar-header" >
        <a class= "navbar-brand" href= "#!resumes"><i class="glyphicon glyphicon-th-large"></i> Resume List </a>
        <a ng-show="customer._id" class= "navbar-brand" href= "#!edit-resume/0"><i class="glyphicon glyphicon-plus"></i> Create Resume </a>
        <a ng-show="customer._id" class= "navbar-brand pull-right"><i class="glyphicon glyphicon-edit"></i> Currently Editing Resume Number: {{customer._id}}</a>
        </div>
        </nav>
        <header>
            <h3>{{title}}</h3>
        </header>
        <div class="col-md-12">

<form role="form" name="myForm" class="form-horizontal">
<div class="row">
<div class= "form-group" ng-class="{error: myForm.candidate.$invalid}">
    <label class= "col-md-2"> Id of Candidate</label>
    <div class="col-md-4">
    <!-- <input ng-model="customer.candidate.$oid" name="candidate" value="{{customer.candidate.$oid}}" type= "text" class= "form-control" placeholder="ID of Candidate" required/> -->
    <select ng-model="customer.candidate" name="candidate" ng-options="data._id.$oid as data._id.$oid for data in testing track by customer.candidate.$oid">
    </select>
    <span ng-show="myForm.candidate.$dirty && myForm.candidate.$invalid" class="help-inline">ID of Candidate Candidate Required</span>
</div>

<div class= "form-group" ng-class="{error: myForm.experience.$invalid}">
    <label class= "col-md-2"> Experience </label>
    <div class="col-md-4">
    <input ng-model="customer.experience" name="experience" value="{{customer.experience}}" type= "text" class= "form-control" placeholder="Your Experience" required/>
    <span ng-show="myForm.experience.$dirty && myForm.experience.$invalid" class="help-inline">Experience Required</span>
</div>

<div class= "form-group">
    <label class= "col-md-2"></label>
    <div class="col-md-4">
    <a href="#/" class="btn">Cancel</a>
        <button ng-click="saveResume(customer);" 
                 ng-disabled="myForm.$invalid"
                class="btn btn-primary">Guardar</button>
        <button ng-click="deleteResume(customer)"
                ng-show="customer._id" class="btn btn-warning">Delete</button>
    </div>
</div>
</div>
</form>
        </div></div>
    </div>
</div> 